/** css
*/


/** Example rules used by the template application (remove for your app) */
h1, .gwt-H1 {
    font-size: 28px;
    font-weight: bold;
    color: #777777;
    margin: 3px;
    text-align: left;
    vertical-align: text-bottom;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}

body {
    /* max-width: 1920px;*/
    background: #FFFDF6;
}

.audioBeatDisplayCanvasStyle {
    border-style: solid;
    border-width: 4px;
    border-color: #FFFDF6;
}



.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.sectionCClass, .lyricsCClass   { background-color: #ffffff;}
.sectionVClass,.lyricsVClass    { background-color: #f5f2e9; }
.sectionBrClass,.lyricsBrClass  { background-color: #f6edff;}
.sectionPCClass,.lyricsPCClass  { background-color: #f7f0ff;}
.sectionIClass,.lyricsIClass    { background-color: #ECFFF9;}
.sectionOClass,.lyricsOClass{ background-color: #ECFFF9;}
.sectionCoClass,.lyricsCoClass  { background-color: #ECFFF9;}
.sectionTClass,.lyricsTClass    { background-color: #edf6ff;}

.gwt-SplitLayoutPanel { background-color: #FFFDF6; }
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs { background: #FFFDF6;}
/*.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger { horizontal dragger }
//.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger { vertical dragger }
*/

table {
    border: 2px;
}
