/*
 Copyright 2015 Robert Steele, bsteele.com
*/

body { background-color:#f8f8f8; }

.buttonTable {
    border-spacing: 10px 1px;
    vertical-align: top;
    margin: 2px;
}
.musicalNote {
    /*font-family: 'FreeSerif';
    font-size: 40px;*/
    cursor:default;
    margin: 2px;
}
.musicalSelect {
    font-family: 'FreeSerif';
    font-size: medium;
}

/*.table { border: 1px ; border-color: blue; }
*/

.musicalButton {
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    padding:0px 8px; /*add some padding to the inside of the button*/
    background:#f0f0f0; /*the colour of the button*/
    /*border:1px solid #33842a; /*required or the default border for the browser will appear*/
    /*give the button curved corners, alter the size as required*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    /*style the text*/
    /*color:#f3f3f3;
    */
    font-family: 'FreeSerif';
    font-size: 16px;
}

/*
  Hide radio button (the round disc)
  we will use just the label to create push button effect
*/
input[type=radio] {
    display:none; 
    margin:10px;
}

/*
  Change the look'n'feel of labels (which are adjacent to radio buttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    font-size: 40px;
    display:inline-block;
    margin:-2px;
    padding: 4px 8px;
    background-color: #ffffff;
    border-color: #ddd;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
    background-image: none;
    background-color:#e0e0e0;
}

#hints {
    width:1000px;
    margin:10px;
}

canvas#nashvilleEdit {
    display:inline-block;
}
.nashville {    /*  buttons */
    display: inline-block;
    vertical-align: top;
    margin:10px;
    padding: 2px;
}

div#customBeat {
    display: none;
    padding: 10px;   /*  messes with the coordinate locations if applied directly to the canvas!  */
}

largeUtf {
    
}

#myScoreLayers { position:relative; width:1100px; height:1300px}
#myScore { position:absolute; z-index: 2; left:0px; top:0px; }
#myScoreBackground { position:absolute; z-index: 1; left:0px; top:0px; }


